/* You can add global styles to this file, and also import other style files */

html,
body {
  height: auto;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
mat-sidenav-container {
  margin: 20px;
  height: 100%;
}

mat-list-item {
  margin-right: 20px;
}

table {
  width: 98%;
  margin: 20px;
}

.myForm {
  margin-left: 20px;
  min-width: 150px;
  max-width: 700px;
  width: 100%;
}

.full-width {
  width: 50%;
}
