<mat-toolbar color="primary">
  <mat-icon (click)="toggleForMenuClick()">menu</mat-icon>
   <span class="span" routerLink="home">VirtualLabs</span>
  <span class="fill-remaining-space"></span>
  <p class="mail" *ngIf="isUserLoggedIn">Welcome back</p>
  <span class="mail" style="font-style:italic; color:gold; margin-right: 2px;">{{email}}</span>
  <span class="mail" *ngIf="isUserLoggedIn" style="margin-right:20px;">!</span>
  <button [routerLink]="['/home']" [queryParams]="{doLogin: 'true'}" mat-raised-button color="primary" class="float-right" mat-button *ngIf="!isUserLoggedIn">Login</button>
  <button mat-raised-button class="float-right"  color="primary" (click)="logout()" *ngIf="isUserLoggedIn">Logout</button>
</mat-toolbar>

<mat-toolbar class="title">Applicazioni Internet</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened="opened" position="start">
    <div class="container">
      <mat-nav-list>
        <mat-list-item routerLink="teacher/course/applicazioni-internet/students">Applicazioni Internet</mat-list-item>
        <mat-list-item>Programmazione di sistema</mat-list-item>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <nav mat-tab-nav-bar>
      <a routerLink="teacher/course/applicazioni-internet/students" mat-tab-link>Students</a>
      <a routerLink="teacher/course/applicazioni-internet/vms" mat-tab-link>Vms</a>
      <a routerLink="teacher/course/applicazioni-internet/assignments" mat-tab-link>Assignments</a>
<!--      <a mat-tab-link>Groups-->
<!--        <div class="container">-->
<!--          <h2 class="title">Elenco gruppi del corso</h2>-->
<!--        </div>-->
<!--      </a>-->
    </nav>

<router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

