.dimensioni {
  width: 400px;
  height: 250px;
  box-shadow: none;
}
.posizione {
  width: 90%;
  margin-bottom: 15px;
}
.center {
  margin-top: 10px;
  text-align: center;
}

.card-container {
  width: auto;
  display: flex;
  justify-content: center;
}
