<mat-toolbar color="primary">
  <mat-icon (click)="toggleForMenuClick()" style="cursor: pointer">menu</mat-icon>
  <span class="pointer" routerLink="homepage" style="margin-left: 5px">VirtualLabs</span>
  <span class="example-fill-remaining-space"></span>
  <p style="font-style: italic ; font-size: 15px ; margin-top: 2px" class="position">{{email}}</p>
  <button mat-stroked-button color="accent" class="float-right" [routerLink]="['/homepage']" [queryParams]="{doLogin: 'true'}"   *ngIf="!isUserLoggedIn">Login</button>
  <button mat-stroked-button color="accent" class="float-right" (click)="logout()" *ngIf="isUserLoggedIn">Logout</button>
</mat-toolbar>

<mat-toolbar>
  <span>Applicazioni Internet</span>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened="true" position="start">
    <div class="container">
      <mat-nav-list>
        <mat-list-item>
          <span routerLink="teacher/course/applicazioni-internet/students" > Applicazioni Internet </span>
        </mat-list-item>
        <mat-list-item>
          <span> Programmazione di Sistema</span>
        </mat-list-item>
      </mat-nav-list>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <nav mat-tab-nav-bar>


      <a mat-tab-link routerLink="teacher/course/applicazioni-internet/students">Students</a>
      <a mat-tab-link routerLink="teacher/course/applicazioni-internet/vms">VMs</a>
      <a mat-tab-link routerLink="teacher/course/applicazioni-internet/assignments">Assignments</a>

    </nav>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
